.ipynb_checkpoints*
__pycache__
runner.sh
Task*
m1*
VJeaNETte.egg-info
requirements.txt
my_conda*
venv
*.pt
*.tsv
result*
test*
train_*
out
*.log
evaluation*
core_*
SRR*
Untitled*
m3*
kidney_data*
colon_data*
blood_data*
lol*
skin_data*
